html, body {
    margin: 0;
    padding: 0;
    font-family: 'Protest Revolution', sans-serif;
    background-color: #EEF0F4;
    color: #432000;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    justify-content: center;
}


.header {
    margin: 0px;
}

/*img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}*/

.imgChangeOnHover {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    
    background-image: url("assets/babyyodacoffee.png");
}

.imgChangeOnHover:hover {
    background-image: url("https://media.giphy.com/media/l3fPlHQOHUzYRufm7E/giphy.gif?cid=790b761166ltb8p6suvaajkswv500e3to3ez1w6p32hto5ai&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
}

.input-field:hover {
    background-color: white;
    color: red;
    
}

button {
    color: #FDFDFD;
    background-color: blue;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #ce7e00;
    color: white;
    cursor: pointer;
}